<div>
  <div class="top-home">
    <h1>Welcome,<br />Juan Arona!</h1>
    <a routerLink="/trips" class="text-link">View history</a>
  </div>

  <div class="info-home">
    <div *ngIf="showDrivers">
      <div class="info-home__subtitle">
        <div class="divider-vertical"></div>
        <h2>Your drivers</h2>
      </div>
      <div class="card-list">
        <app-driver-card> </app-driver-card>
      </div>
    </div>

    <div>
      <div class="info-home__subtitle">
        <!-- Divider vertical -->
        <div class="divider-vertical"></div>
        <h2>Recent trips</h2>
      </div>
      <div class="card-list">
        <app-trip-card> </app-trip-card>
      </div>
    </div>
  </div>
</div>
