<app-title title="Insert your new password"></app-title>
<p class="description">
  Type in a new password different from the old <br />
  one and repeat to validate
</p>
<div class="container form-container">
  <form mat formGroup="newPasswordForm" class="form-new-password">
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="New password"
        formControlName="password"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Confirm password"
        formControlName="confirmPassword"
      />
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      class="fp-button"
      (click)="createNewPassword()"
    >
      Confirm
    </button>
  </form>
</div>
