<mat-card appearance="outlined" class="trip-card">
  <mat-card-content>
    <div class="trip-card-header">
      <b class="resume">Resume</b>
      <button class="view-more-button">View more</button>
    </div>

    <div class="trip-card-body">
      <b class="subject">Subject: {{ trip.subject }}</b>
      <div class="trip-info">
        <p>
          From: <b>{{ trip.from }}</b>
        </p>
        <p>
          To: <b>{{ trip.to }}</b>
        </p>
        <p>
          Date: <b>{{ trip.date }}</b>
        </p>
        <p>
          Time: <b>{{ trip.departureTime }} - {{ trip.arrivalTime }}</b>
        </p>
      </div>
    </div>

    <div class="driver-data">
      <b>Driver data</b>
      <div class="driver-info">
        <img
          src="assets/svg/user/avatar.svg"
          alt="Avatar"
          width="40"
          height="40"
        />
        <div>
          <p>{{ driver.firstName }} {{ driver.lastName }}</p>
          <p>Phone: {{ driver.phoneNumber }}</p>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="action">
    <button
      mat-flat-button
      color="primary"
      class="fp-button action-button"
      (click)="finishTrip()"
    >
      Finish
    </button>
    <button
      mat-flat-button
      color="warn"
      class="fp-button action-button"
      (click)="cancelTrip()"
    >
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
