<div class="footer-auth">
  <p>About FastPorte</p>
  <div class="social-icons">
    <a class="footer-img" href="https://x.com/?lang=es" target="_blank">
      <img src="assets/svg/twitter.svg" alt="Twitter" width="25" height="25" />
    </a>
    <a class="footer-img" href="https://www.facebook.com/" target="_blank">
      <img src="assets/svg/facebook.svg" alt="Facebook" width="25" height="25" />
    </a>
    <a class="footer-img" href="https://www.instagram.com/" target="_blank">
      <img src="assets/svg/instagram.svg" alt="Instagram" width="25" height="25" />
    </a>
    <a class="footer-img" href="https://linkedin.com/" target="_blank">
      <img src="assets/svg/linkedIn.svg" alt="LinkedIn" width="25" height="25" />
    </a>
  </div>
  <p>© 2024 Copyright</p>
</div>
