.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.search-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 200px;
}

.results>p {
  font-size: 30px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .search {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .search-form {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .results {
    flex-direction: column;
    gap: 10px;
    min-height: unset;
  }

  mat-card {
    margin: 0;
  }
}
