<div class="search">
  <div class="search-form">
    <p>Name</p>
    <div class="search-input">
      <mat-form-field appearance="outline">
        <input
          matInput
          [(ngModel)]="name"
          type="text"
          placeholder="Search drivers"
        />
      </mat-form-field>
      <button mat-button (click)="searchDrivers()">
        <mat-icon fontIcon="search"></mat-icon>
      </button>
    </div>
  </div>
  <div class="results">
    <p>Results:</p>
    <ng-container *ngIf="results && results.length > 0; else noResults">
      <div *ngFor="let result of results">
        <app-result-card
          [resultDriver]="result"
          (bookTrip)="onBookTrip($event)"
        ></app-result-card>
      </div>
    </ng-container>
    <ng-template #noResults>
      There are no results for this search.
    </ng-template>
  </div>
</div>
