<div style="height: 100vh">
  <div class="info-home">
    <div class="info-home__column">
      <div class="top-home">
        <h1>Trip Report</h1>
        <!--
        <a href="#" class="text-link">View history</a>
        -->
        <div class="text-link"></div>
      </div>
      <div class="info-home__subtitle">
        <div class="divider-vertical"></div>
        <h2>Trip Information</h2>
      </div>
      <div class="card">
        <img [src]="driver.img" [alt]="driver.name" />
        <div class="spacer"></div>
        <div class="content">
          <div class="row">
            <div>
              <p>
                <b>Driver:</b>
                <br />
                {{ driver.name }}
              </p>
            </div>
            <div>
              <p>
                <b>Phone Number:</b>
                <br />{{ driver.phone }}
              </p>
            </div>
          </div>
          <div class="row">
            <div>
              <p>
                <b>From:</b>
                <br />
                {{ driver.from }}
              </p>
            </div>
            <div>
              <p>
                <b>To:</b>
                <br />
                {{ driver.to }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="info-home__column">
      <div class="info-home__subtitle">
        <div class="divider-vertical"></div>
        <h2>Sensor Information</h2>
      </div>
      <div class="card sensor-info">
        <div class="content">
          <div class="row">
            <div>
              <p>
                <b>Temperature:</b>
                <br />
                16°C
              </p>
            </div>
            <div>
              <p>
                <b>Humidity</b>
                <br />Dry
              </p>
            </div>
          </div>
          <div class="row">
            <div class="chart">
              <canvas
                baseChart
                [data]="lineChartData"
                [options]="lineChartOptions"
                [type]="lineChartType"
              >
              </canvas>
            </div>
          </div>
          <div class="row">
            <div>
              <p>
                <b>Preasure:</b>
                <br />
                1.2 bar
              </p>
            </div>
            <div>
              <p>
                <b>Gas leak:</b>
                <br />
                No
              </p>
            </div>
          </div>
          <div class="row">
            <div class="chart">
              <canvas
                baseChart
                [data]="barChartData"
                [options]="barChartOptions"
                [type]="barChartType"
              >
              </canvas>
            </div>
          </div>
        </div>
        <button mat-flat-button disabled color="primary">
          <!-- TODO -->
          Send alert
        </button>
      </div>
    </div>
  </div>
</div>
