<div class="footer">
  <div class="left-side">
    <p>About FastPorte</p>
    <div class="social-icons">
      <a class="footer-img" href="https://x.com/?lang=es" target="_blank">
        <img
          src="assets/svg/social/twitter.svg"
          alt="Twitter"
          width="16"
          height="16"
        />
      </a>
      <a class="footer-img" href="https://www.facebook.com/" target="_blank">
        <img
          src="assets/svg/social/facebook.svg"
          alt="Facebook"
          width="16"
          height="16"
        />
      </a>
      <a class="footer-img" href="https://www.instagram.com/" target="_blank">
        <img
          src="assets/svg/social/instagram.svg"
          alt="Instagram"
          width="16"
          height="16"
        />
      </a>
      <a class="footer-img" href="https://linkedin.com/" target="_blank">
        <img
          src="assets/svg/social/linkedIn.svg"
          alt="LinkedIn"
          width="16"
          height="16"
        />
      </a>
    </div>
  </div>
  <span class="spacer"></span>
  <p>©FastPorte, 2024</p>
</div>
