<mat-toolbar color="primary">
  <img class="logo" src="../../../../../assets/fastporte-logo.png" alt="Logo" />
  <span>FastPorte</span>
  <span class="spacer"></span>
  <button class="to-landing-button" aria-label="Button to Landing Page">
    <a href=""> Home </a>
  </button>
  <button
    class="to-landing-button"
    aria-label="Button to Our Team section in Landing Page"
  >
    <a href=""> Us </a>
  </button>
  <button
    class="to-landing-button"
    aria-label="Button to Contact Us section in Landing Page"
  >
    <a href=""> Contact Us </a>
  </button>
</mat-toolbar>
