<div class="sensor-code">
  <form
    [formGroup]="sensorCodeForm"
    class="form-sensor-code"
    (ngSubmit)="submit()"
  >
    <div class="input-container">
      <input
        id="input1"
        formControlName="input1"
        class="input-box"
        type="text"
        maxlength="1"
        libAutoTab="input2"
      />
      <input
        id="input2"
        formControlName="input2"
        class="input-box"
        type="text"
        maxlength="1"
        libAutoTab="input3"
      />
      <input
        id="input3"
        formControlName="input3"
        class="input-box"
        type="text"
        maxlength="1"
        libAutoTab="input4"
      />
      <input
        id="input4"
        formControlName="input4"
        class="input-box"
        type="text"
        maxlength="1"
        libAutoTab="input5"
      />
      <input
        id="input5"
        formControlName="input5"
        class="input-box"
        type="text"
        maxlength="1"
        libAutoTab="input6"
      />
      <input
        id="input6"
        formControlName="input6"
        class="input-box"
        type="text"
        maxlength="1"
      />
    </div>

    <button
      mat-flat-button
      color="primary"
      class="fp-button continue-button"
      type="submit"
    >
      Continue
    </button>
  </form>
</div>
