.form-sensor-code {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sensor-code {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.input-box {
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 24px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s ease;
}

.input-box:focus {
  border-color: var(--mat-primary);
}

.continue-button {
  margin-top: 20px;
  min-width: 336px;
}

@media screen and (max-width: 768px) {
  .input-container {
    gap: 10px;
    margin-bottom: 10px;
  }

  .input-box {
    width: 30px;
    height: 50px;
    font-size: 16px;
  }

  .continue-button {
    max-width: 100%;
    margin-top: 20px;
    min-width: 100%;
  }
}
