<div class="user-type">
  <div class="user-type-container">
    <div class="user-type-option">
      <button class="user-type-button">
        <img
          src="assets/svg/user/driver.svg"
          alt="Driver"
          width="80"
          height="80"
        />
      </button>
      <span>Driver</span>
    </div>
    <div class="user-type-option">
      <button class="user-type-button">
        <img
          src="assets/svg/user/supervisor.svg"
          alt="Supervisor"
          width="80"
          height="80"
        />
      </button>
      <span>Supervisor</span>
    </div>
  </div>

  <button
    mat-flat-button
    color="primary"
    class="fp-button continue-button"
    (click)="submit()"
  >
    Continue
  </button>
</div>
